.fdb-kanban-card {
	width: 300px;
	height: 150px;
	overflow-y: scroll;

	border: 1px solid var(--background-modifier-border);

	background-color: var(--background-secondary);

	&:hover {
		background-color: var(--background-modifier-hover);
		border-color: var(--background-modifier-border-hover);
	}
}

.fdb-kanban-card-title {
	margin-inline-start: var(--size-4-4);
}
