.fdb-kanban-column-title {
	flex: 0 0 auto;
}

.fdb-kanban-column-items-count {
	margin-left: var(--size-4-1);
	color: var(--text-faint);
}

button.fdb-kanban-add-card-button.fdb-kanban-add-card-button {
	color: var(--text-muted);
}
