.fdb-kanban-card {
	position: relative;
	width: 350px;

	margin: 0;
	padding-bottom: var(--size-4-2);

	border-radius: var(--radius-s);
	background-color: var(--background-secondary);

	--e: 1; /* Elevation level */
	box-shadow:
		0px calc(2px * var(--e)) calc(1px * var(--e)) -1px rgba(0, 0, 0, 0.2),
		0px calc(1px * var(--e)) calc(1px * var(--e)) 0px rgba(0, 0, 0, 0.14),
		0px calc(1px * var(--e)) calc(3px * var(--e)) 0px rgba(0, 0, 0, 0.12);

	cursor: grab;

	&:hover {
		background-color: var(--background-modifier-hover);
		border-color: var(--background-modifier-border-hover);
	}

	&.is-dragged {
		--e: 5;
		cursor: grabbing;
	}
}

.fdb-kanban-card-title,
.fdb-kanban-card-frontmatter {
	margin-inline-start: var(--size-4-4);
}

.fdb-kanban-card-frontmatter {
	font-weight: var(--font-bold);
}

.fdb-kanban-card-edit-button {
	position: absolute;
	top: var(--size-4-2);
	right: var(--size-4-2);

	&:not(:hover) .fdb-icon {
		color: var(--text-faint);
	}
}

.fdb-kanban-card-contents {
	&.fdb-hidden {
		display: none;
	}
}
