.fdb-kanban-column {
	padding: var(--size-4-1);
	padding-top: 0;

	border-radius: var(--radius-s);

	&:has(> .fdb-is-dragged-over) {
		background-color: var(--background-modifier-hover);
	}
}

.fdb-kanban-column-contents {
	display: flex;
	flex-direction: column;
	align-items: start;

	/* Ensure there's always some space to drop items onto */
	min-height: 300px;

	gap: var(--size-4-2);
}
