.fdb-flex {
	display: flex;
	gap: 10px;
}

.fdb-center-content {
	display: grid;
	place-content: center;
}

.fdb-error-message {
	font-weight: bold;
	color: var(--text-error);
}

.fdb-cell-ui.fdb-cell-ui {
	display: block;
	margin: 0;

	font: inherit;
	outline: inherit;

	border: none;
	border-radius: 0;

	color: inherit;
	background: none;
	box-shadow: none;

	cursor: pointer;
	user-select: none;
}
