.fdb-flex-row {
	display: flex;
	align-items: center;
	gap: var(--size-4-2);
}

.fdb-flex-spacer {
	flex: 100;
}

.fdb-center-content {
	display: grid;
	place-content: center;
}

.fdb-info-message {
	color: var(--text-muted);
}

.fdb-error-message {
	font-weight: var(--font-bold);
	color: var(--text-error);
}

.fdb-input-unstyled.fdb-input-unstyled {
	display: block;
	margin: 0;

	border: none;
	border-radius: 0;
	outline: inherit;

	font: inherit;
	color: inherit;
	background: none;
	box-shadow: none;

	cursor: pointer;
	user-select: none;
}
